#!/bin/bash

#SBATCH --job-name={{ job_name }}
#SBATCH --partition={{ partition | geo }}
#SBATCH --ntasks=1
#SBATCH --mem={{ memory | 16G }}
#SBATCH --cpus-per-task={{ cores | 4 }}
#SBATCH --gres=gpu:1
#SBATCH --output={{ log_file | slurm/gpu_%j.out }}
#SBATCH --error={{ log_file | slurm/gpu_%j.err }}

# Set memory limit for the job (in KB)
ulimit -v $(( 1024 * {{ memory | 16384 }} ))

# Run worker through container_models.sif with GPUs and
# mounting necessary directories.
apptainer exec \
  --nv \
  --bind $PWD:/mnt \
  --bind $PWD/inst:/inst \
  --bind /ddn/gs1/group/set/Projects/NRT-AP-Model/input:/input \
  --bind $PWD/_targets:/opt/_targets \
  --bind /run/munge:/run/munge \
  --bind /ddn/gs1/tools/slurm/etc/slurm:/etc/slurm \
  container_models.sif \
  CMQ_AUTH={{ auth }} R --no-init-file --no-save --no-restore -e 'clustermq:::worker("{{ master }}")'
